@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutNoMenu.cshtml";
}

<div class="text-center" style="padding-top:70px;">
    <h1 class="display-4">Welcome</h1>
    <p>Please log in to the system.</p>
    <div style="margin-top:10px;">
        <a href="/UserLogin/Index">
			<button type="submit" class="btn btn-primary">Login</button>
        </a>
    </div>
</div>

