<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" type="image/x-icon" href="~/images/favicon.ico">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - ProjectIota</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/ProjectIota.styles.css" asp-append-version="true" />

	<!-- Syncfusion ASP.NET Core controls styles -->
	<link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/24.2.4/fluent.css" />
	<script src="https://cdn.syncfusion.com/ej2/24.2.4/dist/ej2.min.js"></script>

</head>
<body>
	<header>
	</header>
	<div class="master_top_outer" id="div_master_top_outer">
		<div class="master_top_logo">
			<img alt="" src="~/images/logo.png" height="30" />
		</div>
		<div class="global_clear"></div>
	</div>
	<div>
		@RenderBody()
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
	<ejs-scripts></ejs-scripts>
</body>
</html>
